<div class="form-group mr-3 mb-2">
    <!-- <input type="date" name="start_date" class="form-control search-filter select2-hidden-accessible" data-name="start_date" value="{{ request.GET.start_date }}" placeholder="Start Date"> -->
    <input class="form-control" type="date" data-name="start_date" id="">
    <!-- <input type="date" name="end_date" class="form-control" value="{{ request.GET.end_date }}" placeholder="End Date"> -->
    <!-- <div class="input-group-append">
        <input type="submit" class="btn btn-primary" value="Apply">
    </div> -->
</div>


